html, body { height: 100% }
      body { margin: 0 }

      #webchat,
      #webchat > * {
        height: 100%;
        width: 100%;
      }

.wc-header{
    background-color: #0078d7;
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    color: #ffffff;
    font-weight: 500;
    height: 30px;
    left: 0;
    letter-spacing: 0.5px;
    padding: 8px 8px 0 8px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}